
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            background-color: #FFFFFF;
        }
        .header {
            background-color: #c40000;
            padding: 35px 0 15px 0;
            color: white;
            text-align: center;
        }

        .header h1 {
            font-size: 48px;
            margin: 0;
            font-weight: 900;
            letter-spacing: 4px;
        }

        .nav {
            display: flex;
            justify-content: center;
            gap: 70px;
            background-color: #c40000;
            padding-bottom: 20px;
        }

        .nav a {
            color: white;
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
        }


        .container {
            width: 85%;
            margin: 0 auto;
            margin-top: 30px;
        }

        .section-box {
            background-color: #ffe79c;
            border: 6px solid black;
            padding: 25px;
            margin-bottom: 55px;
        }

        .section-title {
            text-align: center;
            font-weight: 900;
            font-size: 24px;
            margin-bottom: 15px;
        }

        .onepiece {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .zoomable {
            width: 240px;
            border: 3px solid black;
            transition: transform 0.3s ease;
        }

        .zoomable:hover {
            transform: scale(1.25);
            z-index: 10;
        }

        .oda-pic {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
